/* ==========================================================================
   Alignment utilities
   ========================================================================== */

/* Inline axis alignment
   ========================================================================== */

/**
 * Content alignment.
 *
 * Flex container: justifies items in its rows.
 */

/**
 * Visualisation: |X|X|X|------|
 */

.u-justifyCStart {
  justify-content: flex-start !important;
}

/**
 * Visualisation: |---|X|X|X|---|
 */

.u-justifyCCenter {
  justify-content: center !important;
}

/**
 * Visualisation: |------|X|X|X|
 */

.u-justifyCEnd {
  justify-content: flex-end !important;
}

/**
 * Visualisation: |X|---|X|---|X|
 */

.u-justifyCBetween {
  justify-content: space-between !important;
}

/**
 * Visualisation: |-|X|--|X|--|X|-|
 */

.u-justifyCAround {
  justify-content: space-around !important;
}

/* Stacking (block) axis alignment
   ========================================================================== */

/**
 * Content alignment.
 *
 * Flex container: aligns rows.
 */

/**
 * Visualisation: |XXXXXXXXXX|
 *                |YYYYYYYYYY|
 *                |ZZZZZZZZZZ|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 */

.u-alignCStart {
  align-content: flex-start !important;
}

/**
 * Visualisation: |----------|
 *                |----------|
 *                |----------|
 *                |XXXXXXXXXX|
 *                |YYYYYYYYYY|
 *                |ZZZZZZZZZZ|
 *                |----------|
 *                |----------|
 *                |----------|
 */

.u-alignCCenter {
  align-content: center !important;
}

/**
 * Visualisation: |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |XXXXXXXXXX|
 *                |YYYYYYYYYY|
 *                |ZZZZZZZZZZ|
 */

.u-alignCEnd {
  align-content: flex-end !important;
}

/**
 * Visualisation: |XXXXXXXXXX|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |YYYYYYYYYY|
 *                |----------|
 *                |----------|
 *                |----------|
 *                |ZZZZZZZZZZ|
 */

.u-alignCBetween {
  align-content: space-between !important;
}

/**
 * Visualisation: |----------|
 *                |XXXXXXXXXX|
 *                |----------|
 *                |----------|
 *                |YYYYYYYYYY|
 *                |----------|
 *                |----------|
 *                |ZZZZZZZZZZ|
 *                |----------|
 */

.u-alignCAround {
  align-content: space-around !important;
}

/**
 * Visualisation: |XXXXXXXXXX|
 *                |XXXXXXXXXX|
 *                |XXXXXXXXXX|
 *                |YYYYYYYYYY|
 *                |YYYYYYYYYY|
 *                |YYYYYYYYYY|
 *                |ZZZZZZZZZZ|
 *                |ZZZZZZZZZZ|
 *                |ZZZZZZZZZZ|
 */

.u-alignCStretch {
  align-content: stretch !important;
}

/**
 * Items alignment.
 *
 * Flex container: aligns items in rows.
 */

/**
 * Visualisation: |-|X|-|Y|-|Z|-|
 *                |-|X|-----|Z|-|
 *                |-|X|-----|Z|-|
 *                |---------|Z|-|
 *                |---------|Z|-|
 */

.u-alignIStart {
  align-items: flex-start !important;
}

.u-alignSStart {
  align-self: flex-start !important;
}

/**
 * Visualisation: |---------|Z|-|
 *                |-|X|-----|Z|-|
 *                |-|X|-|Y|-|Z|-|
 *                |-|X|-----|Z|-|
 *                |---------|Z|-|
 */

.u-alignICenter {
  align-items: center !important;
}

.u-alignSCenter {
  align-self: center !important;
}

/**
 * Visualisation: |---------|Z|-|
 *                |---------|Z|-|
 *                |-|X|-----|Z|-|
 *                |-|X|-----|Z|-|
 *                |-|X|-|Y|-|Z|-|
 */

.u-alignIEnd {
  align-items: flex-end !important;
}

.u-alignSEnd {
  align-self: flex-end !important;
}

/**
 * Visualisation: |-|X|-|Y|-|Z|-|
 *                |-|X|-|Y|-|Z|-|
 *                |-|X|-|Y|-|Z|-|
 *                |-|X|-|Y|-|Z|-|
 *                |-|X|-|Y|-|Z|-|
 */

.u-alignIStretch {
  align-items: stretch !important;
}

.u-alignSStretch {
  align-self: stretch !important;
}

/* Margin distribution
   ========================================================================== */

/**
 * Works for:
 * - Flex items
 * - Absolutely positioned elements with width and height defined
 */

/**
 * Distribute free horizontal space to right margin, aligning the subject
 * to left.
 */

.u-sendLeft {
  margin-right: auto !important;
}

/**
 * Distribute free horizontal space to left margin, aligning the subject
 *  to right.
 */

.u-sendRight {
  margin-left: auto !important;
}

/**
 * Distribute free vertical space to top margin, aligning the subject to bottom.
 */

.u-sendBottom {
  margin-top: auto !important;
}

/**
 * Distribute free vertical space to bottom margin, aligning the subject to top.
 */

.u-sendTop {
  margin-bottom: auto !important;
}

/**
 * Distribute free vertical and horizontal space to all margins equally,
 * centering the subject both horizontally and vertically.
 */

.u-centerize {
  margin: auto !important;
}

/**
 * Distribute free horizontal space to left and right margin equally, centering
 * the subject horizontally.
 */

.u-centerizeHorizontally {
  margin-left: auto !important;
  margin-right: auto !important;
}

/**
 * Distribute free vertical space to top and bottom margin equally, centering
 * the subject vertically.
 */

.u-centerizeVertically {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
